<mat-toolbar >
<span>
  <img class="image-logo" src="/assets/images/ankriti-logo-top.png" height=30 width=41>
</span>
<a mat-button routerLink="/home"><i class="material-icons">home</i> Home</a>
<a mat-button routerLink="/about"><i class="material-icons">info</i> About</a>
<!-- <a mat-button routerLink="/products"><i class="fa fa-pagelines" aria-hidden="true"></i> Products</a>
<a mat-button routerLink="/services"><i class="material-icons">work</i> Services</a> -->
<a mat-button routerLink="/contact"><i class="material-icons">contact_mail</i>Contact</a>
<span class="flex-spacer"></span> 
<a class = "right-spacer" mat-button (click)="auth.login()"><span class="fa fa-sign-in fa-lg"
    ></span> Login</a>
 <div class="clear-left"></div>
</mat-toolbar>


