<div class="container footer background-footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center"
  fxLayoutAlign.gt-sm=" center" fxLayoutWrap fxLayoutGap="10px" 
  >
  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list>
          <mat-list-item>
            <a mat-mini-fab routerLink="/home"><i class="material-icons">home</i></a>
          </mat-list-item>
          <mat-list-item>
            <a mat-mini-fab routerLink="/about"><i class="material-icons">info</i></a>
          </mat-list-item>
          <!-- <mat-list-item>
            <a mat-mini-fab><i class="fa fa-pagelines" aria-hidden="true"></i></a>
          </mat-list-item>
          <mat-list-item>
              <a mat-mini-fab><i class="material-icons" >work</i></a>
          </mat-list-item> -->
          <mat-list-item>
            <a mat-mini-fab routerLink="/contact   "><i class="material-icons">contact_mail</i></a>
          </mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="50">
        <h4>Our Address</h4>
        <address >
          <p> Villa Number 6B Kushal Serene</p>
          <p> Deveryamjal</p>
          <p> Telangana 500014</p>
          <p><i class="fa fa-phone"></i>: coming soon</p>
          <p><i class="fa fa-fax"></i>: coming soon</p>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100%" fxFlex.gt-sm="45%">
      <div style="text-align:center"><p>Like what you see? Share Us!</p></div>
    <hr/>
    <div style="text-align:center">
      <a mat-fab class="btn-google-plus" href="https://plus.google.com/u/1/112442795935461150078">
        <i class="fa fa-google-plus fa-lg"></i>
      </a>
      <a mat-fab class="btn-facebook" href="https://www.facebook.com/ankrititech">
        <i class="fa fa-facebook fa-lg"></i>
      </a>
      <a mat-fab class="btn-linkedin" href="https://www.linkedin.com/company/ankriti-technologies-private-limited/">
        <i class="fa fa-linkedin fa-lg"></i>
      </a>
      <a mat-fab class="btn-twitter" href="https://twitter.com/ankrititech">
        <i class="fa fa-twitter fa-lg"></i>
      </a>
      <a mat-fab class="btn-youtube" href="https://www.youtube.com/channel/UCqd2XU7PmOYNQ_Z0j1FWPjQ">
        <i class="fa fa-youtube fa-lg"></i>
      </a>
      <a mat-fab class="btn-mail" href="ankrititechnologies@gmail.com">
        <i class="fa fa-envelope
        -o fa-lg"></i>
      </a>
    </div>
  </div>
  <div fxFlex="100" fxFlexAlign="center center">
    <div style="text-align:center;">
      <p>© Copyright Ankriti Ltd.</p>
    </div>
  </div>
</div>
