<div>
  </div>
<div class='all-clear'>
<div class='text-wrapper'>
<h1>ANKRITI VISION</h1>
<p class='description'>
  <br> Ankriti’s Vision can be outlined as “VERVE meaning Vigor and Spirit”
  <br> V: Value Creation through high quality solutions to existing problems.
  <br> E: Empowering customers financially and academically.
  <br> R: Reinvigorating the economy of the country.
  <br> V: Valiantly work towards the company’s goals and mission.
  <br> E: Exploring new solutions and new opportunities continually.
</p>
</div>
</div>
<div class='warning'>
  <div class='text-wrapper'>
    <h2>Domain of Expertise</h2>
    <p>
      <br>ANKRITI’s expertise lies in its knowledge base of the two major integrating aspects of its products: IT and Agriculture
      <br>
      <br>Core team comes with a fresh approach to how the agriculture sector has been functioning currently and how it could
      be done better. Their conjoined mission is to enable the Indian farmers to be successful agronomists and entrepreneurs
      –providing them effective tools for cultivation through products and services. Thus, catering to the current needs
      of the farmers and facilitate innovative ideas through incubation centers throughout the country as a future project.
      <br>
      <br>While the key advisors, including scientists, and farm advisors ensure the quality of products is top-notch, the core
      team ensures new innovative approaches are fostered, tested, implemented and shared for business growth.

      <br>
      <br>The company has its core values outlined in their tagline ‘YOUR TRUST, OUR INSPIRATION’ with its key focus on QUALITY
      in everything that goes on within the company and its external collaborations. </p>
  </div>
</div>
<div class='notice'>
  <div class='text-wrapper'>
    <h2>Mission</h2>
    <p> Ankriti is on a mission to empower and connect Farmers nationwide. By providing quality products, personalized crop management
      services, and Artificial intelligence integrated machinery we are pioneering a faster, leaner and more innovation-centric
      approach to agricultural practices and services. Our vision is to make farming a sustainable and lucrative business
      nationwide through technological intervention and value creation.
    </p>
  </div>
</div>
<div class='more-info'>
  <div class='text-wrapper'>
    <h2>Board of Directors</h2>
    <p>
    </p>
  </div>

  <div class="person-card">
    <img class="person-img" src="../assets/images/mb.JPG" alt="Manju Bala" />
    <div class="person-info">
      <div class="details-title">
        <span>Manju Bala, MD & Founder</span>
        <br/>
        <small></small>
      </div>
      <div class="details-body">
        Mrs. Manju is the source of all the energy that drives Ankriti. She is our motivation expert. There is no one better at bringing
        people from different dynamics and backgrounds together – whether it is a farm worker in remote village of Telangana
        or an agronomist in Shimla, Himachal Pradesh. Her enthusiasm towards plant produce and management is unbeatable.
        When she wants to relax she engages in Yoga: an activity much like herself: peaceful and powerful. Want to talk to
        her Contact her at manju.bala@ankriti.com
      </div>
    </div>
  
  </div>

  <div class="person-card">
    <img class="person-img" src="../assets/images/Sukriti.JPG" alt="Sukriti Chauhan" />
    <div class="person-info">
      <div class="details-title">
        <span>Sukriti Chauhan, CEO</span>
        <br/>
        <small></small>
      </div>
      <div class="details-body">
        Sukriti is an engineer specialized in computer programming and IT management - and our CEO. She prepares the food for thought
        for our strategy development plans and pushes the button on finding the right resources for the plan implementation.
        She sits at the interface between business and clients, develops strategic plans, overlooks operations, and ensure
        quality at ANKRITI. She is passionate about animals and spends her free time relaxing with her pet best friend Brownie.
        Want to know more about her- contact her at sukriti.chauhan@ankriti.com
      </div>
    </div>
  </div>
  <div class="person-card">
      <img class="person-img" src="../assets/images/kc.jpg" alt="Krishna Chaitanya Norhi" />
      <div class="person-info">
        <div class="details-title">
          <span>Krishna Norhi, Executive Director</span>
          <br/>
          <small></small>
        </div>
        <div class="details-body">
            KC is our expert in agriculture machinery management. He holds a bachelor’s degree in Mechanical engineering. He uses his skills to help us innovate, design and integrate AI with existing machinery to create solutions to agro problems.
            He is fully connected, always up-to- date, and shares that with style and passion. He is our go- to guy for any
            design work and shares his unique artistic tastes in each design that he curates. In his free time, he loves to
            go dance, paint and play Golf. Any questions? Contact him at KC.Norhi@ankriti.com
        </div>
      </div>
</div>
</div>
<div class='all-clear'>
  
    </div>

<div class='all-clear'>
  <div class='text-wrapper'>
    <h2>Board Advisors</h2>
    <p></p>
  </div>
  <div class="person-card">
      <img class="person-img" src="" alt="Dr. Bhupesh Gupta" />
      <div class="person-info">
        <div class="details-title">
          <span>Dr. Bhupesh Gupta</span>
          <br/>
          <small></small>
        </div>
        <!-- <div class="details-body">
            
        </div> -->
      </div>
    </div>
    <div class="person-card">
        <img class="person-img" src="" alt="Dr. Amit Vikram" />
        <div class="person-info">
          <div class="details-title">
            <span>Dr. Amit Vikram</span>
            <br/>
            <small></small>
          <!-- </div>
          <div class="details-body">
              
          </div> -->
        </div>
      </div>
      </div>
      <div class="person-card">
          <img class="person-img" src="" alt="Dr. Sumita Sindhi" />
          <div class="person-info">
            <div class="details-title">
              <span>Dr. Sumita Sindhi</span>
              <br/>
              <small></small>
            <!-- </div>
            <div class="details-body">
                
            </div> -->
          </div>
        </div>
