<h3>
  Categories:
</h3>
<app-display-slider ></app-display-slider>
<br>
<h3>
  Products:
</h3>
<br>

<div class="w3-row w3-grayscale">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="../assets/images/2.1.png" style="width:80%">
        <p>Ankriti product 1<br><b>$24.99</b></p>
      </div>
      <div class="w3-container">
        <img src="../assets/images/2.1.png" style="width:80%">
        <p>Ankriti product 2<br><b>$19.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="../assets/images/1.1.png" style="width:80%">
          <span class="w3-tag w3-display-topleft">New</span>
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">info <i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <p>Ankriti product 3<br><b>$19.99</b></p>
      </div>
      <div class="w3-container">
        <img src="../assets/images/3.1.png" style="width:80%">
        <p>Ankriti product 4<br><b>$20.50</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="../assets/images/4.1.png" style="width:80%">
        <p>Ankriti product 5<br><b>$20.50</b></p>
      </div>
      <div class="w3-container">
        <div class="w3-display-container">
          <img src="../assets/images/3.1.png" style="width:80%">
          <span class="w3-tag w3-display-topleft">Sale</span>
          <div class="w3-display-middle w3-display-hover">
            <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
          </div>
        </div>
        <p>Ankriti product 6<br><b class="w3-text-red">$14.99</b></p>
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="../assets/images/2.1.png" style="width:80%">
        <p>Ankriti product 7<br><b>$14.99</b></p>
      </div>
      <div class="w3-container">
        <img src="../assets/images/1.1.png" style="width:80%">
        <p>Ankriti product 8<br><b>$24.99</b></p>
      </div>
    </div>
  </div>
  <br>
