<div class="container jumbotron set-width-1200px" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center"
  fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutGap="10px">
  <div fxFlex fxFlex.gt-sm="70%">
    <h1>&nbsp; Ankriti Technologies</h1>
    <p style="padding: 0 15px">Ankriti is on a mission to empower and connect Farmers nationwide. By enabling farmers to easily access Everything at
      the feasibility of their doorstep including products and services. We are pioneering a faster, leaner and more innovation-centric
      approach to agricultural practices and services. Our vision is to create a world in which farming is not looked down
      upon as a poor man's job. Our goal is to create an environment where the farmers are limited only by their imagination.</p>
  </div>
  <div fxFlex fxFlex.gt-sm="20%">
    <img class="image-logo" src="/assets/images/ankriti-logo.jpg" alt="Logo">
  </div>
  <div fxFlex></div>
</div>

<!-- <app-display-slider-featured ></app-display-slider-featured> -->
<br>
<div class="wrapper">
    <input checked type=radio name="slider" id="slide1" />
    <input type=radio name="slider" id="slide2" />
    <input type=radio name="slider" id="slide3" />
    <input type=radio name="slider" id="slide4" />
    <input type=radio name="slider" id="slide5" />
  
    <div class="slider-wrapper">
      <div class=inner>
        <article>
          <div class="info top-left">
            <h3>Wheat Farming</h3></div>
            <iframe width="100%" height="450px" src="https://www.youtube.com/embed/tdPDE_gcyzc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      </article>
        <article>
          <div class="info bottom-right">
            <h3>Paddy Farming</h3></div>
           <iframe width="100%" height="450px" src="https://www.youtube.com/embed/uqr8X7cp4WY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>     </article>
  
        <article>
          <div class="info bottom-left">
            <h3>Grape Farming</h3></div>
           <iframe width="100%" height="450px" src="https://www.youtube.com/embed/hQCCHRZV0Lk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>         </article>
      
        <article>
          <div class="info top-right">
            <h3>Maize Farming</h3></div>
         <iframe width="100%" height="450px" src="https://www.youtube.com/embed/4Hpk4-uMvv8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>    </article>
  
        <article>
          <div class="info bottom-left">
            <h3>Sweet Corn Farming</h3></div>
            <iframe width="100%" height="450px" src="https://www.youtube.com/embed/KQPiLTOtcww" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>      </article>
      </div>
      <!-- .inner -->
    </div>
    <!-- .slider-wrapper -->
  
    <div class="slider-prev-next-control">
      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
    </div>
    <!-- .slider-prev-next-control -->
  
    <div class="slider-dot-control">
      <label for=slide1></label>
      <label for=slide2></label>
      <label for=slide3></label>
      <label for=slide4></label>
      <label for=slide5></label>
    </div>
    <!-- .slider-dot-control -->
  </div>
